@{
    ViewData["Title"] = "Hello....";
}

<style>
    .jBackColor {
        background-color: lightgoldenrodyellow;
    }
</style>

<section class="jumbotron text-center ">
    <div class="container">
        <h1 class="jumbotron-heading">@ViewBag.Title</h1>
        <p class="lead-text text-muted">@ViewBag.Message</p>
        <p>Using Entity Framework Core access a NorthWind 2020 database</p>
    </div>
</section>

<p>OED Code samples</p>