<link href="~/lib/bootstrap/css/bootstrap.min.css"/>
<script src="~/lib/bootstrap/js/bootstrap.bundle.min.js"></script>

@model User

@{
    ViewData["Title"] = "Check Name";
}

<h1>@ViewData["Title"]</h1>

<ol>
    <li>Enter a first name and last name. Validate accepts the name.</li>
    <li>Enter a different first name and last name. Validate accepts the name.</li>
    <li>Re-enter the first name and last name from the first step. Validation fails.</li>
</ol>

<div class="row">
    <div class="col-md-4">
        <form>

            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            <div class="form-group">
                <label asp-for="FirstName" class="control-label"></label>
                <input asp-for="FirstName" class="form-control bg-light" />
                <span asp-validation-for="FirstName" class="text-primary"></span>
            </div>

            <div class="form-group">
                <label asp-for="LastName" class="control-label"></label>
                <input asp-for="LastName" class="form-control bg-light" />
                <span asp-validation-for="LastName" class="text-danger"></span>
            </div>

            <div class="form-group">
                <input type="button" value="Validate name" class="btn btn-info mt-5" />
            </div>
        </form>
    </div>
</div>


<button type="button" id="clicker" class="btn btn-primary mt-5" data-bs-toggle="modal" data-bs-target="#exampleModal">
    Modal demo
</button>

<div class="modal" id="myModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">OED</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                BootStrap 5 model in C#
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary" id="saveButton" data-bs-dismiss="modal">Save changes</button>
            </div>
        </div>
    </div>
</div>


@section Scripts {
    @{ await Html.RenderPartialAsync("_ValidationScriptsPartial"); }
}

<script type="text/javascript">
    $(document).ready(function () {

        $("#clicker").click(function () {
            $("#myModal").modal("show");
        });

        $("#saveButton").click(function () {
            alert("Save code goes here");
        });

    });


</script>
