@page
@model PrivacyModel
@{
    ViewData["Title"] = "Privacy Policy";
}

<div class="card">
    <div class="card-header text-white" style="background-color: #00AA9E;">
        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-check-circle" viewBox="0 0 16 16">
            <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z"/>
            <path d="M10.97 4.97a.235.235 0 0 0-.02.022L7.477 9.417 5.384 7.323a.75.75 0 0 0-1.06 1.06L6.97 11.03a.75.75 0 0 0 1.079-.02l3.992-4.99a.75.75 0 0 0-1.071-1.05z"/>
        </svg>

        Privacy Policy

    </div>

    <div class="card-body">
        <blockquote class="blockquote mb-0">
            <p>
                Fames rutrum auctor urna nam nisl fames parturient, imperdiet ultrices netus. Tempor lacus velit lobortis molestie pharetra. Et adipiscing conubia porta scelerisque consectetur eros quam ipsum conubia pretium. Himenaeos penatibus accumsan blandit laoreet euismod cum facilisi duis, taciti velit magnis vehicula. Mattis ridiculus nam sagittis varius tempus phasellus leo urna. Vel tortor natoque donec nec.<br /><br />
                Erat mi himenaeos, facilisi fames nunc? Quis urna mollis cum nullam facilisi ac natoque vitae aliquam ad tristique blandit. Dictum neque primis odio accumsan himenaeos. Sollicitudin erat cum consequat, augue integer amet potenti? Tristique curabitur nunc lorem inceptos per luctus. Malesuada mattis eget magna litora placerat gravida scelerisque dignissim et maecenas. Vestibulum consectetur duis conubia et ante blandit feugiat nam a. Tellus feugiat pharetra, consequat quisque? Gravida egestas sit felis class parturient a sollicitudin montes per diam praesent. Elit tempor donec lorem commodo dis curae; varius lacinia fringilla ornare, ante netus.
                Aenean euismod dictum egestas fusce nunc dictumst parturient vivamus luctus nascetur. Dolor pulvinar eleifend cum felis consectetur sagittis nullam eleifend mollis hendrerit elementum arcu. Semper consectetur in lacinia in accumsan. Adipiscing vehicula ante aliquet amet taciti interdum nostra. Nam posuere cum malesuada nec mattis nullam cras tincidunt. Nibh class dapibus dolor convallis suscipit pellentesque penatibus. Vestibulum velit, rutrum fringilla purus elit habitasse dictum fusce aliquet. Venenatis a hac eros massa porttitor.
                Eget nec posuere aliquet nulla metus etiam. Mi integer arcu ut. Luctus, cursus cum phasellus. Arcu et dignissim fringilla luctus magnis. Velit scelerisque amet conubia egestas nullam cubilia vel arcu cras nec. Lacus lacus vel montes penatibus posuere non porta maecenas. Parturient mattis aliquam hendrerit, imperdiet blandit hac. Blandit sociis imperdiet.<br /><br />
                Malesuada fusce mollis fringilla orci ultricies eleifend nullam sociosqu fames. Rutrum mauris bibendum aliquam mi feugiat hac imperdiet. Torquent justo suscipit dapibus per nostra mi consectetur dictum fringilla laoreet? Mattis fusce gravida parturient mi congue pulvinar penatibus lorem. Mollis massa, eu lacus amet elit lacus risus est eu. Faucibus lectus ipsum cursus dapibus pharetra aptent. Augue elit elit eleifend massa aliquam augue bibendum. Aliquam pretium aliquam dolor ad!
            </p>
            <footer class="blockquote-footer">Someone famous in <cite title="Source Title">Source Title</cite></footer>
        </blockquote>
    </div>
</div>
