@page
@using System.Globalization
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}



<head>

    <title>Dummy</title>

    <script type="text/javascript">
        $(document).ready(function () {
            $('#dummy').click(function () {
                alert('Hello from dummy button');
            });
        });
    </script>

</head>

<div class="text-center">
    <h1 class="display-4 text-info">-OED Samples-
    </h1>

</div>
<div class="alert alert-primary alert-dismissible fade show" role="alert">
    Whatever <i class="bi bi-bootstrap"></i>
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
    </button>
</div>
<div class="d-flex justify-content-center align-items-center" style="height:100px;">
    <input type="button" id="dummy" class="btn btn-primary mb-5" value="Hello" />
</div>
