@page
@model IndexModel

@{
    ViewData["Title"] = "Home";
}

<style>
    .container-fluid {
        padding-right: 30px!important;
        padding-left: 30px!important;
    }
</style>

<div class="row">
    <div class="col bg-light">Left 1</div>
    <div class="col-auto">Right 1 . . . .</div>
</div>

<div class="row">
    <div class="col bg-info">Left 2</div>
    <div class="col-auto float-end"> . . . . . . . Right 2</div>
</div>

<div class="row">
    <div class="col bg-light">Left 3</div>
    <div class="col-auto text-end">Right 3 . . . . . . . </div>
</div>

<div class="row">
    <div class="col-8 bg-info">Left 4</div>
    <div class="col-3 text-end">Right</div>
</div>

<div class="row">
    <div class="col-sm-9 bg-light p-3 border">
        .col-sm-9: width of 75% above sm breakpoint
    </div>
    <div class="col-3 bg-light p-3 border">
        .col-3: width of 25%
    </div>
</div>

<div class="row">
    <div class="col-sm-6 bg-info"><p class="float-start">left</p></div>  
    <div class="col-sm-6"><p class="float-end">right</p></div>  
</div>